

.btn-signup{
   width: var(--button-width);
   height: var(--button-height);
   background-color:var(--primary-color) ;
   color: var(--white);
   margin-top: 10px; 
}

.btn-signup:hover{
  background-color:var(--secondory-color) ;
   color: var(--primary-color);
   border: none;
   font-weight: 600;  
}

.btn-content-button{
   width: var(--section-button-width);
   height: var(--section-button-height);
   background-color:var(--secondory-color) ;
   color: var(--white);
   margin: 77px 0 89px 0 ;
}

.btn-content-button:hover{

   background-color:var(--primary-color);
   color: var(--white);
}

.btn-add-to-cart{
  width: 150px;
  height: 54px;
  color: var(--white);
  background-color: var(--primary-color);
  opacity: 0.83; 
  text-align: center;
  padding-bottom: 3px;
  float: right;
}